@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
:root {
    --color01: #f1a922;
    --color02: #2e261c;
    --color03: #aa7939;
    --color04: #44382d;
    --color05: #f0eae2;
    --color06: #9e7033;
    --color07: #ddd0be;
    --font01: "Open Sans", sans-serif;
    --font02: Oswald, sans-serif;
}
/* cabeçalho */
#cabecalho-principal {
    text-align: center;
    background-color: var(--color02);
    color: var(--color05);
}
#cabecalho-principal #titulo-principal{
    padding: 10px;
    font-family: var(--font02);
    text-shadow: 2px 2px #000000a4;
    padding-bottom: 3em;
}
#cabecalho-principal img {
    float: left;
    padding: 1% 5% 5% 5%;
    margin-bottom: -15%;
}
#cabecalho-principal h1 {
    padding: 10px;
    font-size: 3em;
    color: var(--color05);
}
#cabecalho-principal p {
    text-align: center;
    font-size: 1.75em;
    color: var(--color05);
}
.menu-hamburguer {
    background: none;
    border: none;
    color: var(--color05);
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
}
.menu-hamburguer:hover {
    color: #ddd;
}
.menu-hamburguer:active {
    color: #fff;
}
.menu-navegacao {
    background: linear-gradient(180deg, var(--color02), var(--color04));
    padding: 20px;
    display: none;
}
.menu-navegacao.active {
    display: block;
}
.menu-navegacao p {
    text-align: right;
}
.menu-navegacao a {
    text-decoration: none;
    color: var(--color01);
    padding-left: 1%;
    font-family: var(--font01);
}
.menu-navegacao a:hover {
    color: var(--color06);
    transition: 0.3s;
}
/* fim cabeçalho */

/* principal */
main {
    max-width: 55%;
    margin: auto;
    padding: 1%;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
    text-align: justify;
}
#sobre p {
    padding: 1%;
}
main img {
    float: right;
    padding-left: 1%;
}
/* fim principal */

/* rodapé */
footer {
    font-family: var(--font01);
    display: inline-block;
    background-color: var(--color07);
    padding: 1rem 5rem;
    text-align: start;
    width: 100%;
    box-sizing: border-box;
    color: var(--color02);
    position: fixed;
    bottom: 0;
}
footer a{
    text-decoration: none;
    color: var(--color02);
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
.float {
    float: left;
}
#local {
    border: none;
    border-radius: 10px;
}
footer .float ul {
    list-style: none;
    float: right;
}
#contato, #menu-footer, #endereco {
    width: 33%;
}
#copy {
    margin-top: 2em;
    text-align: center;
}
/* fim rodapé */