@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
:root {
    --color01: #f1a922;
    --color02: #2e261c;
    --color03: #aa7939;
    --color04: #44382d;
    --color05: #f0eae2;
    --color06: #9e7033;
    --color07: #ddd0be;
    --font01: "Open Sans", sans-serif;
    --font02: Oswald, sans-serif;
}
/* cabeçalho */
header {
    text-align: center;
    background-color: var(--color02);
    color: var(--color05);
}
header #titulo-principal{
    padding: 10px;
    font-family: var(--font02);
    text-shadow: 2px 2px #000000a4;
    padding-bottom: 3em;
}
header img {
    float: left;
    padding: 1% 5% 5% 5%;
    margin-bottom: -15%;
}
header h1 {
    padding: 10px;
    font-size: 3em;
    color: var(--color05);
}
header p {
    font-size: 2em;
}
#links {
    text-align: center;
    font-size: 1.75em;
    color: var(--color05);
    width: 50%;
    margin: auto;
}
.menu-hamburguer {
    background: none;
    border: none;
    color: var(--color05);
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
}
.menu-hamburguer:hover {
    color: #ddd;
}
.menu-hamburguer:active {
    color: #fff;
}
.menu-navegacao {
    background: linear-gradient(180deg, var(--color02), var(--color04));
    padding: 20px;
    display: none;
}
.menu-navegacao.active {
    display: block;
    margin: auto;
}
.menu-navegacao p {
    margin: auto;
}
.menu-navegacao a {
    text-decoration: none;
    color: var(--color01);
    padding-left: 1%;
    font-family: var(--font01);
}
.menu-navegacao a:hover {
    color: var(--color06);
    transition: 0.3s;
}
/* fim cabeçalho */
/* formulário */
main {
    max-width: 70%;
    box-shadow: 2px 2px 2px #000000a4;
    margin: auto auto 5em auto;
    border: 1px solid;
    background-color: var(--color05);
}
fieldset {
    max-width: 40%;
    margin: 3% auto;
    border: 3px solid var(--color04);
    border-radius: 25px;
    background-color: var(--color03);
    font-family: var(--font01);
}
fieldset legend {
    font-size: 2em;
    font-weight: bold;
    color: var(--color04);
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color01);
    border: 3px solid var(--color04);
    border-radius: 10px;
    display: inline-block;
}
fieldset form {
    padding: 10px;
}
fieldset form input, fieldset form textarea {
    padding: 3px;
    border: none;
    border-radius: 5px;
    margin: auto;
    width: 75%;
    font-size: 1em;
    font-family: var(--font01);
}
fieldset form input#input-nome, fieldset form input#input-email {
    display: block;
}
fieldset form textarea#input-mensagem {
    margin: auto;
    display: block;
    padding: 3px;
}
#enviar {
    float: right;
    border: 2px solid var(--color04);
    background-color: #33322B;
    color: var(--color05);
    margin: 5% 0 5% 5%;
    width: 40%;
}
#enviar:hover {
    background-color: #4d4b40;
    transition: 200ms;
}
#enviar:active {
    background-color: #6b6859;
}
label {
    display: block;
    text-align: center;
    margin: 10% auto 0 auto;
    padding: 0;
    color: var(--color04);
    font-weight: bold;
    font-family: var(--font01);

}
/* fim formulário */
/* rodapé */
footer {
    font-family: var(--font01);
    display: inline-block;
    background-color: var(--color07);
    padding: 1rem 5rem;
    text-align: start;
    width: 100%;
    box-sizing: border-box;
    color: var(--color02);
}
footer a{
    text-decoration: none;
    color: var(--color02);
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
.float {
    float: left;
}
#local {
    border: none;
    border-radius: 10px;
}
footer .float ul {
    list-style: none;
    float: right;
}
#contato, #menu-footer, #endereco {
    width: 33%;
}
#copy {
    margin-top: 2em;
    text-align: center;
}
/* fim rodapé */